<?php if (! empty($this->display_exceptions)) : ?>
    <?php if (isset($this->exception)
        && ($this->exception instanceof \Exception || $this->exception instanceof \Error)) : ?>
        <div class="row row1">
            <div class="col-md-12">
                <h3 class="center capital f1 wow fadeInLeft" data-wow-duration="2s">Something went Wrong!</h3>
                <h1 id="error-500" class="center wow fadeInRight" data-wow-duration="2s">0</h1>
                <p class="center wow bounceIn" data-wow-delay="2s"><?= get_class($this->exception) ?></p>
                <p class="center wow bounceIn" data-wow-delay="2s"><?= $this->escapeHtml($this->exception->getMessage())?></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="cflask-holder" class="wow fadeIn" data-wow-delay="2800ms">
                <span class="wow tada " data-wow-delay="3000ms"><i class="fa fa-flask fa-5x flask wow flip" data-wow-delay="3300ms"></i>
                    <i id="b1" class="bubble"></i>
                    <i id="b2" class="bubble"></i>
                    <i id="b3" class="bubble"></i>
                </span>
                </div>
            </div>
        </div>

        <div class="row"> <!--Search Form Start-->
            <div class="col-md-12">
                <div class="col-md-6 col-md-offset-3 search-form wow fadeInUp" data-wow-delay="4000ms">
                    <img style="width:100%" src="<?=$this->basePath('assets/pages/img/logos/logoStatFlow.png')?>" alt="Logo - StatFlow"/>
                </div>
                <hr style="height:2px" width="50%" color="#fff" />
            </div>
        </div>
        <div class="row"> <!--Links Start-->
            <div class="col-md-12">
                <div class="links-wrapper">
                    <ul class="links" style="margin: 0 auto">
                        <li class="wow fadeInRight" data-wow-delay="4400ms"><a href="https://www.statflow.tech"><i class="fa fa-home fa-2x"></i></a></li>
                        <li class="wow fadeInRight" data-wow-delay="4300ms"><a target="_blank" href="https://www.facebook.com/ItProspectTeam/"><i class="fa fa-facebook fa-2x"></i></a></li>
                        <li class="wow fadeInRight" data-wow-delay="4200ms"><a target="_blank" href="https://www.linkedin.com/company/27013763/"><i class="fa fa-linkedin fa-2x"></i></a></li>
                        <li class="wow fadeInRight" data-wow-delay="4100ms"><a target="_blank" href="https://www.it-prospect.com/contacts"><i class="fa fa-send fa-2x"></i></a></li>
                    </ul>

                </div>
            </div>
        </div>
    <?php endif; ?>
<?php endif; ?>
<script type="text/javascript">
    var count = new countUp("error-500", 0, 500, 0, 3);
    window.onload = function() {
        // fire animation
        count.start();
    };
</script>
