<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="exampleInputEmail1">Select File</label>
        <input type="file" class="form-control" name="exportCsv" >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<BR>
<?php if(is_array($result)) {?>
    <?php if ($result[1] == 1) {?>
        <div class="alert alert-danger">
            <button class="close" data-close="alert"></button>
            <span> <?=$this->translate($result[0])?></span>
        </div>
    <?php } elseif ($result[1] == 0) {?>
        <div class="alert alert-success">
            <button class="close" data-close="alert"></button>
            <span> <?=$this->translate($result[0])?></span>
        </div>
    <?php }?>
<?php }?>
