<?= $this->doctype() ?>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle('StatFlow - Oops!')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => '/favicon.ico'])
            ->prependStylesheet($this->basePath('assets/pages/css/custom.css'))
            ->prependStylesheet($this->basePath('assets/pages/css/animate.css'))
            ->prependStylesheet($this->basePath('assets/global/plugins/bootstrap/css/bootstrap.min.css'))
            ->prependStylesheet($this->basePath('assets/global/plugins/font-awesome/css/font-awesome.min.css'))

        ?>

        <!-- Scripts -->
        <?= $this->headScript()
            ->prependFile($this->basePath('assets/pages/scripts/countUp.js'))
            ->prependFile($this->basePath('assets/pages/scripts/wow.js'))
            ->prependFile($this->basePath('assets/global/plugins/jquery.min.js'))
        ?>
    </head>
    <body>
        <section>
            <div class="container">
            <?= $this->content ?>
            </div>
        </section>
        <div class="copyright">
            <?= $this->translate('Produced by')?><BR/>
            <a target="_blank" href="https://www.it-prospect.com"><div  class="it-prospect"></div></a><BR/>
        </div>
        <?= $this->inlineScript() ?>
        <script type="text/javascript">
            var wow = new WOW({
                animateClass: 'animated',
                offset:       100
            });
            wow.init();
        </script>
    </body>
</html>
