<?= $this->doctype() ?>
<?php $child= $this->viewModel()->getCurrent()->getChildren()[0]?>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <?= $this->headTitle('StatFlow - Collect data')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?= $this->headMeta()
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => '/favicon.ico'])
            ->prependStylesheet($this->basePath('assets/pages/css/login-3.min.css'))
            ->prependStylesheet($this->basePath('assets/global/css/plugins-md.min.css'))
            ->prependStylesheet($this->basePath('assets/global/css/components-md.min.css'))
            ->prependStylesheet($this->basePath('assets/global/plugins/select2/css/select2-bootstrap.min.css'))
            ->prependStylesheet($this->basePath('assets/global/plugins/select2/css/select2.min.css'))
            ->prependStylesheet($this->basePath('assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css'))
            ->prependStylesheet($this->basePath('assets/global/plugins/bootstrap/css/bootstrap.min.css'))
            ->prependStylesheet($this->basePath('assets/global/plugins/simple-line-icons/simple-line-icons.min.css'))
            ->prependStylesheet($this->basePath('assets/global/plugins/font-awesome/css/font-awesome.min.css'))

        ?>

        <!-- Scripts -->
        <?= $this->headScript()
            ->prependFile($this->basePath('assets/pages/scripts/login.js'))
            ->prependFile($this->basePath('assets/global/scripts/app.min.js'))
            ->prependFile($this->basePath('assets/global/plugins/select2/js/select2.full.min.js'))
            ->prependFile($this->basePath('assets/global/plugins/jquery-validation/js/additional-methods.min.js'))
            ->prependFile($this->basePath('assets/global/plugins/jquery-validation/js/jquery.validate.min.js'))
            ->prependFile($this->basePath('assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js'))
            ->prependFile($this->basePath('assets/global/plugins/jquery.blockui.min.js'))
            ->prependFile($this->basePath('assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js'))
            ->prependFile($this->basePath('assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js'))
            ->prependFile($this->basePath('assets/global/plugins/js.cookie.min.js'))
            ->prependFile($this->basePath('assets/global/plugins/bootstrap/js/bootstrap.min.js'))
            ->prependFile($this->basePath('assets/global/plugins/jquery.min.js'))
        ?>
        <style>
            <?= $child->costumer && $child->costumer->getTheme() ? $child->costumer->getTheme():".header{text-align:center;padding:60px 0;}"?>
        </style>
    </head>
    <body class="login">
        <!-- BEGIN LOGO -->
        <div class="header">
            <?php if($child->costumer && $child->costumer->getSmallLogo()):?>
            <a href="javascript:;">
                <img style="max-width: 360px" src="/assets/pages/img/<?=$child->costumer->getSmallLogo()?>" alt="Logo"/>
            </a>
            <?php endif;?>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">
            <?= $this->content ?>
        </div>
        <?= $this->inlineScript() ?>
        <div class="copyright">
            ©2017 StatFlow - <?= $this->translate('Be attentive to your customers')?><BR/><BR/>
            <?= $this->translate('Produced by')?><BR/>
            <a target="_blank" href="https://www.it-prospect.com"><div  class="it-prospect"></div></a><BR/>
        </div>
    </body>
</html>
