<?= $this->doctype() ?>
<?php $child= $this->viewModel()->getCurrent()->getChildren()[0]?>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle('StatFlow - Coupon')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => '/favicon.ico'])
            ->prependStylesheet($this->basePath('assets/pages/css/voucher.css'))
            ->prependStylesheet($this->basePath('assets/global/plugins/bootstrap/css/bootstrap.min.css'))
            ->prependStylesheet($this->basePath('assets/global/plugins/simple-line-icons/simple-line-icons.min.css'))
            ->prependStylesheet($this->basePath('assets/global/plugins/font-awesome/css/font-awesome.min.css'))

        ?>

        <!-- Scripts -->
        <?= $this->headScript()
            ->prependFile($this->basePath('assets/pages/scripts/voucher.js'))
            ->prependFile($this->basePath('assets/global/plugins/html2canvas/js/html2canvas.js'))
            ->prependFile($this->basePath('assets/global/plugins/html2canvas/js/printThis.js'))
            ->prependFile($this->basePath('assets/global/plugins/js.cookie.min.js'))
            ->prependFile($this->basePath('assets/global/plugins/bootstrap/js/bootstrap.min.js'))
            ->prependFile($this->basePath('assets/global/plugins/jquery.min.js'))
        ?>
    </head>
    <body>
        <?= $this->content ?>
        <?= $this->inlineScript() ?>
    </body>
</html>
