body {
    margin: 0;
    padding: 0;
    background: #464646;
}

.container {
    margin: 50px auto;
    width: 585px;
    height: 500px;
    /*background: #d8d8d8;*/
}
.container h3 {
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    font-weight: 400 !important; }
.text-content {
    color: #ffffff;
    padding: 20px;
}
.action {
    text-align: center;
    margin-top: 20px;
    height: 25px;
}
.voucher {
    height: 231px;
    width: 555px;
    background-image: url("../img/voucher-template/voucher-papajohns-555x230.png");
}

.voucher img{
    float: right;
    margin-top: 99px;
    margin-right: 28px;
}

.voucher p {
    float: right;
    font-size: 9px;
    margin-right: -110px;
    margin-top: 192px;
}
.voucher span.expire-date {
    color:#ab131b
}

.copyright {
    text-align: center;
    margin: 15px auto;
    padding: 10px;
    color: #999;
    font-size: 13px;
}
.copyright .it-prospect{
    background: url("../img/logos/itprospect-black-white.png");
    width: 140px;
    height: 47px;
    margin: 0 auto;
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition : all .2s linear;
    -o-transition: all .2s linear;
}
.copyright .it-prospect:hover{
    background: url("../img/logos/itprospect-logo.png");
}