<div class="voucher">
    <img id="code" src="<?= $this->basePath('assets/pages/img/qr-code/' . $token . '.png')?>" />
    <p>Valid until <span class="expire-date"><?=$expireDate?></span> only</p>
</div>

<script>
    html2canvas($('.voucher'), {
        onrendered: function (canvas) {
            var imagedata = canvas.toDataURL('image/png');
            var imgdata = imagedata.replace(/^data:image\/(png|jpg);base64,/, "");
            //ajax call to save image inside folder
            $.post('/coupon/save-voucher/<?=$token?>', {imgdata: imgdata}, function(){});
        }
    });
</script>


