<div class="container row">
    <div class="text-content">
        <h3><?=$this->translate("Congratulations!")?><br></h3>

    </div>
    <div class="voucher-img" style="text-align: center">
        <span class="loading-img"><img style="width: 100px" src="<?= $this->basePath('assets/pages/img/giphy.gif')?>" /></span>
    </div>
    <div class="action">
        <button id="save-voucher" class="btn green"><i class="fa fa-download"></i> <?=$this->translate("save")?></button>
        <button id="print-voucher" class="btn green"><i class="fa fa-print"></i> <?=$this->translate("print")?></button>
    </div>
</div>
<div class="copyright">
    ©2017 StatFlow - <?= $this->translate('Be attentive to your customers')?><BR/><BR/>
    <?= $this->translate('Produced by')?><BR/>
    <a target="_blank" href="https://www.it-prospect.com"><div  class="it-prospect"></div></a><BR/>
</div>
<script>
     $.ajax({
         type: "POST",
         url: '/coupon/generate/<?=$token?>',
         beforeSend: function(){
             $("#loading-img").fadeIn();
         },
         complete: function(){
             $("#loading-img").fadeOut("slow");
         },
         success: function(data) {
             $('.voucher-img').html(data);
         }
     });

    $('#save-voucher').click(function(e){
        var a = $("<a>").attr("href", "<?= $this->basePath('assets/pages/img/vouchers/' . $token . '.png')?>").attr("download", "voucher.png").appendTo("body");
        a[0].click();
        a.remove();
    });

     $('#print-voucher').click(function(e){
         var url = '<?= $this->basePath('assets/pages/img/vouchers/' . $token . '.png')?>',
             win = window.open('');
         win.document.write('<img src="' + url + '" onload="window.print();window.close()" />');
         win.focus();
     });
</script>


