<?php if ($status) :?>
<div class="invalid">
    <div class="validity-content">
        <i class="fa fa-times-circle fa-4x" aria-hidden="true"></i>
        <h3>Invalid Voucher</h3>
        <p><?=$message?></p>
    </div>
</div>
<?php else : ?>
<div class="valid">
    <div class="validity-content">
        <i class="fa fa-check-circle fa-4x" aria-hidden="true"></i>
        <h3>Valid Voucher</h3>
    </div>
</div>
<?php endif;?>
<script>
    $('.invalid').parent().css("background", "#ff1c1c");
    $('.valid').parent().css("background", "#009c1d");
</script>