<!-- BEGIN LOGIN FORM -->
<form class="login-form" action="/identify/<?=$agency->getToken();?>" method="post">
    <h3 class="form-title"><?=$this->translate("Login to your account")?></h3>
    <?php if($error) {?>
    <div class="alert alert-danger">
        <button class="close" data-close="alert"></button>
        <span> <?=$this->translate($error)?></span>
    </div>
    <?php }?>
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9"><?=$this->translate("Mobile or Email")?></label>
        <div class="input-icon">
            <i class="fa fa-sign-in"></i>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="<?=$this->translate("Mobile or Email")?>" name="login" /> </div>
    </div>
    <div class="form-actions">
        <label class="rememberme">
            <span></span>
        </label>
        <button type="submit" class="btn second-color pull-right"> <?=$this->translate("Login")?> </button>
    </div>
    <div>
        <p> <?=$this->translate("Don't have an account yet ?")?>&nbsp;
            <BR/><a href="/subscribe/<?=$agency->getToken();?>" id="register-btn"> <?=$this->translate("Create an account")?> </a>
        </p>
    </div>
</form>
<!-- END LOGIN FORM -->
