<div class="portlet light portlet-fit ">
    <div class="portlet-title">
        <div class="caption">
            <i class=" icon-layers font-second-color"></i>
            <span class="caption-subject font-second-color bold uppercase"><?= sprintf($this->translate("Choose %s restaurant"), $costumer->getName());?></span>
        </div>
    </div>
    <div class="mt-element-list">
        <div class="mt-list-container list-todo ">
            <ul>
            <?php foreach ($costumer->getAgencies() as $agency) {?>
                <?php if (!$agency->getParent()) {?>
                    <li class="mt-list-item">
                        <div class="list-todo-item dark">
                            <a class="list-toggle-container" data-toggle="collapse" href="#<?=$agency->getId()?>" aria-expanded="false">
                                <div class="list-toggle done uppercase">
                                    <div class="list-toggle-title bold"><?=$agency->getName()?></div>
                                    <div class="badge badge-default pull-right bold"><?=$agency->getChildren()->count()?></div>
                                </div>
                            </a>
                        </div>
                        <div class="panel-collapse collapse" id="<?=$agency->getId()?>">
                            <div class="mt-element-list">
                                <div class="mt-list-container list-default">
                                    <div class="mt-list-title uppercase"></div>
                                    <ul>
                                        <?php foreach ($agency->getChildren() as $child):?>
                                            <li class="mt-list-item">
                                                <div class="list-icon-container done">
                                                    <a href="/identify/<?=$child->getToken()?>">
                                                        <i class="fa fa-map-marker"></i>
                                                    </a>
                                                </div>
                                                <div class="list-item-content">
                                                    <h3 class="bold">
                                                        <a href="/identify/<?=$child->getToken()?>"><?=$child->getName()?></a>
                                                    </h3>
                                                </div>
                                            </li>
                                        <?php endforeach;?>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                <?php }?>
            <?php }?>
            </ul>
        </div>
    </div>
</div>
