<!-- BEGIN LOGIN FORM -->

    <h3 class="form-title"><?=$this->translate("Thank you for completing the form")?></h3>
    <div class="form-actions">
        <p><?=$this->translate("In order to satisfy you and to improve our service quality You will receive an email or a message that contains a satisfaction survey. Please fill It .")?></p>
    </div>
    <div>
        <p><a href="/identify/<?=$agency->getToken();?>" id="register-btn"> <?=$this->translate("Return home")?> </a></p>
    </div>

