<!-- BEGIN REGISTRATION FORM -->
<form class="register-form" action="/save/<?=$agency->getToken()?><?=isset($contactItem['id'])?'/'.$contactItem['id']:''?>" method="post">
    <h3><?=$this->translate("Sign Up")?></h3>
    <p> <?=$this->translate("Enter your personal details below")?> : </p>
    <?php foreach ($this->form as $field) { ?>
        <?php if($field->getField()->getType() == 1) {?>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9"><?=$field->getField()->getName()?></label>
            <div class="input-icon">
                <i class="fa <?=$field->getField()->getIcon()?>"></i>
                <input class="form-control placeholder-no-fix" type="text"
                       value="<?= isset($contactItem[$field->getField()->getId()])?$contactItem[$field->getField()->getId()]:''?>"
                       name="<?=$field->getField()->getCode().'__'.$field->getId()?>" placeholder="<?=$this->translate($field->getField()->getName())?>"/>
            </div>
        </div>
        <?php } elseif($field->getField()->getType() == 2) {?>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9"><?=$this->translate($field->getField()->getName())?></label>
            <select name="<?=$field->getField()->getCode().'__'.$field->getId()?>"
                    id="<?=$field->getField()->getCode()?>" class="select2 form-control">
                <?php foreach ($field->getField()->getModalities() as $item) { ?>
                    <option value=""></option>
                    <option <?=isset($contactItem[$field->getField()->getId()]) &&
                $contactItem[$field->getField()->getId()]==$item->getCode()?'selected':''?>
                    value="<?=$item->getCode()?>" /><?=$this->translate($item->getName())?>
                <?php }?>
            </select>
        </div>
        <?php } elseif($field->getField()->getType() == 3) {?>
            <div class="form-group">
                <label class="control-label"><?=$this->translate($field->getField()->getName())?></label><BR/>
                <?php foreach ($field->getField()->getModalities() as $item) { ?>
                    <label class="mt-radio mt-radio-outline">
                        <input type="radio" name="<?=$field->getField()->getCode().'__'.$field->getId()?>"
                            <?=isset($contactItem[$field->getField()->getId()]) &&
                            $contactItem[$field->getField()->getId()]==$item->getCode()?'checked':''?>
                               value="<?=$item->getCode()?>" /><?=$this->translate($item->getName())?>
                        <span></span>
                    </label>
                <?php }?>
            </div>
        <?php }?>
    <?php } ?>
    <div class="form-actions">
        <a href="/identify/<?=$agency->getToken()?>" style="width: 24%" class="btn primary-color btn-outline"> <?=$this->translate('Back')?> </a>
        <button type="submit" id="register-submit-btn" style="width: 74%" class="btn second-color"> <?=$this->translate('Save')?> </button>
    </div>
</form>
<!-- END REGISTRATION FORM -->
<script>
var handleRegister = function() {
    var rules = {};
    <?php foreach ($this->form as $field) { ?>
        <?php if($field->getField()->getType() == 2) {?>
            if (jQuery().select2 && $('#<?=$field->getField()->getCode()?>').size() > 0) {
                $("#<?=$field->getField()->getCode()?>").select2({
                    placeholder: "<i class=\"fa <?=$field->getField()->getIcon()?>\"></i>&nbsp;<?=$field->getField()->getName()?>",
                    width: '100%',
                    escapeMarkup: function(m) {
                        return m;
                    }
                });

                $('#<?=$field->getField()->getCode()?>').change(function() {
                    $('.register-form').validate().element($(this)); //revalidate the chosen dropdown value and show error or success message for the input
                });
            }
        <?php }?>
        rules.<?=$field->getField()->getCode().'__'.$field->getId()?> = {};
        <?php if ($field->getRequired()) {?>
            <?php if ($field->getField()->getCode() == 'email') {?>
                rules.<?=$field->getField()->getCode().'__'.$field->getId()?>.email = true;
            <?php }?>
            rules.<?=$field->getField()->getCode().'__'.$field->getId()?>.required = true;
        <?php }?>
    <?php }?>
    console.log(rules);
    $('.register-form').validate({
        errorElement: 'span', //default input error message container
        errorClass: 'help-block', // default input error message class
        focusInvalid: false, // do not focus the last invalid input
        ignore: "",
        rules: rules,
        messages: { // custom messages for radio buttons and checkboxes
            tnc: {
                required: "Please accept TNC first."
            }
        },

        invalidHandler: function(event, validator) { //display error alert on form submit

        },

        highlight: function(element) { // hightlight error inputs
            $(element)
                .closest('.form-group').addClass('has-error'); // set error class to the control group
        },

        success: function(label) {
            label.closest('.form-group').removeClass('has-error');
            label.remove();
        },

        errorPlacement: function(error, element) {
            if (element.attr("type") == "radio") { // insert checkbox errors after the container
                error.insertAfter($('.register_radio_error'));
            } else if (element.closest('.input-icon').size() === 1) {
                error.insertAfter(element.closest('.input-icon'));
            } else {
                error.insertAfter(element);
            }
        },

        submitHandler: function(form) {
            form.submit();
        }
    });

    $('.register-form input').keypress(function(e) {
        if (e.which == 13) {
            if ($('.register-form').validate().form()) {
                $('.register-form').submit();
            }
            return false;
        }
    });

    jQuery('#register-btn').click(function() {
        jQuery('.login-form').hide();
        jQuery('.register-form').show();
    });
};
handleRegister();
</script>